.carlists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 10px;
  padding: 30px;
  justify-items: center;
  align-items: start;
  
  margin-top: 20px;
  min-height: 100vh;
}

.carcard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  justify-content: flex-start;
  background: rgb(255, 255, 255,0.6);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  border: 2px solid red;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.carcard span{
    background: none;
    font-size: 20px;
    color: #333;
    margin-right: 10px;

}

.carcard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.carcard img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.carcard h2 {
  font-size: 1.4rem;
  color: #333;
  margin: 10px 0 5px 0;
  background: none;
}

.carcard h3 {
  font-size: 1.02rem;
  color: #0b0b0b;
  margin: 2px 0;
  background: none;
}
.active{
    border: 2px solid rgb(40, 248, 40);
}

