.companiespg{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
}

.companydiv{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    margin-top: 20px;
    

}

.headers{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    

}

.headerleft{
    width: 40%;
    font-family: sans-serif;
    font-size: 20px;

}
.headerright{
    width: 30%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 20px;
    gap: 10px;
}
.headerright span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(254, 215, 167,0.6);
    margin-right: 10px;
}

.mailimg{
    display: flex;
    gap: 10px;
}

.footerdiv{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center ;
    gap: 10px;
    background: none;
}
.footerdiv h3{
    font-family: sans-serif;
    font-size: 20px;
}
.carlister {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;         
  margin-top: 20px;
   overflow-x: auto;
   white-space: nowrap;
   scroll-behavior: smooth;
  background: none;

}

.indiicar {
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  padding: 10px;
  
}

.indiicar:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.indiicar img {
  width: 180px;
  height: 180px;
  object-fit:cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.indiicar h2,
.indiicar h3 {
  font-size: 0.9rem;
  color: #333;
  margin: 3px 0;
  text-align: center;
  background: none;
}

.indiicar span {
  font-weight: 600;
  color: #666;
  background: none;
}
