.dashboard{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.dashboard h2{
    
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.companieslist{
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    gap: 20px;
}

.companyy{
    width: 100%;
    height: 220px;
    background-color: rgb(21, 2, 78);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;

}
.companyy:hover{
    scale: 1.05;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgb(194, 174, 174);
}

.companyy span{
    color: white;
    font-family:'poppins', sans-serif;
    font-size: 16px;
    background: none;
}

.companyy h3{
    
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    background: none;
}
.companyy h4{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background: none;
}

.companyy p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background: none;
}