.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    
    border-bottom: 10px;
    width: 100%;
    color: white;
backdrop-filter: blur(20px);

border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 9px rgb(255, 255, 255,0.3);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 5 8px 25px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

.leftnav img{
    width: 150px;
}

.rightnav button{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(224, 218, 210);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    
}

