.homepg{
    width: 100%;
    height: 80vh;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.part1 ,.part2{
    width: 25%;
    height: 200px;
    background-color: rgb(3, 5, 31) ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(255, 255, 255,0.4);
}
.part1:hover,.part2:hover{
    background-color: rgb(10, 12, 58);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
    transition: 0.3s ease-in;

}

.part1 h1,.part2 h1{
    background: none;
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
}